project_id = "wnvpvjkzjkgiaztgtlxy"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
enabled = true
port = 54322
shadow_port = 54320
major_version = 15

[studio]
enabled = true
port = 54323
api_url = "http://127.0.0.1:54321"

[inbucket]
enabled = true
port = 54324
site_url = "http://127.0.0.1:54324"
smtp_port = 54325
pop3_port = 54326

[storage]
enabled = true
port = 54327
file_size_limit = "50MiB"

[auth]
enabled = true
port = 54328
site_url = "http://localhost:3000"
additional_redirect_urls = ["https://127.0.0.1:3000"]
jwt_expiry = 3600
refresh_token_rotation_enabled = true
security_captcha_enabled = false
security_captcha_provider = "hcaptcha"
security_captcha_secret = "0x0000000000000000000000000000000000000000"

[edge_functions]
enabled = true
port = 54329

[functions.heygen-avatars]
verify_jwt = false

[functions.heygen-voices]
verify_jwt = false

[functions.google-drive-upload]
verify_jwt = false